{% extends 'pages/base.html' %} {% load static %} {% block body %}
<!-- Main page -->
<div class="container">

    <section class="about-us">
        <div class="about-us___intro">
            <img src="{{ MEDIA_URL }}/marlene400x300.png" %} " class="marleneimg ">
            <h4>Dr. Marlene Marchena <br> </h4>
            <p>Principal Trainer</p>
            </div>
        <div class="about-us__body ">
            <p><strong>Marlene Marchena</strong> is a data analysis and Python/R developer. 
                She graduated in Economics and holds a Ph.D. in Electrical Engineering.
                She has a domain expertice in the fields os credit risk and supply chain 
                management.
                Currently she is doing an specialization in Data Science at ULB university.
            </p>    
            <p> 
                Marlene works as a computer science educator. She likes to share her passion 
                about technology by teaching and given training. She has experience teaching kids and adults.

                 

            </p>

        </div>
    </section>
</div>
{% endblock %}
 She has experience teaching programming to kids and adults.