{% extends 'pages/base.html' %} {% load static %} {% block body%}

<div class="container">
    <section>
        <h2>Why learn to code?</h2>
        <p>
            Computers are part of our everyday life, we use them to surf the internet, do a Google search, see pictures, read e-mails, play games or write text. But how they do all of this? Is it magic? Yes, it's magic. A magic called coding (or programming). Learning
            to code is not about vocation but a skill necessary to understand how our world works.
        </p>
        <p>
            Now days learn to code is not about vocation but a required skill in order to understand how our world works.
        </p>

        <h2>Positive aspects</h2>
        <p>
            Programming is an activity that stimulates creativity, promotes collaboration, develops rigor, patience and perseverance. It trains a logical thinking to solve problems.
        </p>
        <h2>Methodology</h2>
        <p>
            In a fun and enjoyable way you will become familiar with the basic concepts of coding: variables, loops, conditions, etc. We will make you discover different interfaces based on visual blocks where you can create animations, mini-games or your own stories.
        </p>
    </section>
</div>
{% endblock %}