{% extends 'pages/base.html' %} {% load static %} {% block body%}

<div class="container">
    <section>
        <h2 class="section-title">Contact Us</h2>
        <!-- <div class="col-md-3 mb-5"> -->
        <hr>
        <address>
          <strong>Jumahes</strong>
          <br>Etterbeek, Brussels
          <br>Belgium
        </address>
        <address>
          <!-- <abbr title="Phone">P:</abbr>
          (32) 456-7890
          <br> -->
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">info@jumahes.com</a>
        </address>
        <!-- </div> -->
    </section>
</div>
{% endblock %}