{% extends 'pages/base.html' %} {% load static %} {% block body %}
<!-- Main page -->
<div class="thumb">
    <img src="{{ MEDIA_URL }}/montana.png" class="imgthumb">
</div>

<section>
    <h2 class="slogan"> Making AI accessible for everyone
    </h2>

</section>


<div class="container-home">
    <section class="intro">
        <h2 class="section-title">What we do ?</h2>

        <hr>
        <p>
            Jumahes is a programming school. For us learn to code is not about vocation but a required skill in order to understand how our world works.
        </p>

        <h2 class="section-title">Why learn to code?</h2>

        <hr>
        <p>
            Computers are part of our everyday life, we use them to surf the internet, do a Google search, see pictures, read e-mails, play games or write text. But how they do all of this? Is it magic? Yes, it's magic. A magic called coding or programming.
        </p>

        <h2 class="section-title">Positive aspects</h2>

        <hr>
        <p>
            Programming is an activity that:
        </p>
        <div id="mylist">
            <ul>
                <li>Stimulates creativity</li>
                <li>Promotes collaboration</li>
                <li>Develops rigor, patience and perseverance</li>
                <li>It trains a logical thinking to solve problems</li>

            </ul>
        </div>
        <br/><br/>
    </section>
</div>
<!-- /.container -->

{% endblock %}


<!-- /.row -->