{% extends 'pages/base.html' %} {% load static %} {% block body%}

<div class="container">
    <section>
        <h2 class="section-title">Training</h2>
        <p>
            In-House Training Bring our training to your office. All courses can be tailored to your business’s requirements, whether those are regarding timing, content or anything else. We design and develop all our courses, and can make business-specific additions
            according to the needs of your staff and organisation. As one of the leading on-site and in-house training providers, we have over 8 years' experience of serving corporate clients with bespoke solutions that help their businesses become more
            efficient and more profitable.
        </p>
    </section>
</div>
{% endblock %}